html, body, #root, .App {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-right: 10px;
}


.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 5px 10px;
  height: 10vmin;

  background-color: #4d3e3d;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-main {
  flex: 1;
  background-color: #FFF9DB;
  overflow: scroll;
}

.App-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: calc(24px + 15vmin);
  
  background-color: #c7ab87;
  color: white;
  font-size: calc(24px + 1vmin);
}

.App-button {
  flex: 1;
  height: 100%;
  border: none;

  align-self: center;
  
  color: #4d3e3d;
  background-color: #c7ab87;

  font-size: calc(18px + 2vmin);
}

.App-button-active {
  font-weight: bold;
}

.App-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(10px + 5vmin);
  
  padding: 5px;

  background-color: #4d3e3d;
  color: white;
  font-size: calc(10px + 1vmin);
}

.App-footer-install-hint {
  font-size: 12px;
}

.App-footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.App-footer a {
  color: white;
}

.Slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5px;

  margin-top: 50px;
  font-weight: bold;
  overflow: hidden;
  font-size: 24px;
}

.Slider-label {
  flex: 1;
  text-align: left;
}

.Slider-input {
  flex: 1;
}

.Gauge-result {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
}

.Info-equation {
  font-style: italic;
  font-weight: bold;
}

.instructions {
  margin-top: 10px;
  padding: 0 10px;
  text-align: left;
}

.Info-disclaimer {
  font-style: italic;
  font-size: 10px;
  margin-top: 20px;
  text-align: left;
}

.Info-resources {
  text-align: left;
  list-style: disc;
}

.BeatChart-support {
  font-size: 12px;
  text-align: justify;
  font-style: italic;
  margin: 0 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media all and (display-mode: standalone) {
  .App-footer {
    display: none;
  }
}