html, body, #root, .App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-right: 10px;
}


.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 5px 10px;
  height: 10vmin;

  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-main {
  flex: 1;
  background-color: #FFF9DB;
}

.App-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: calc(24px + 10vmin);
  
  background-color: #7c889f;
  color: white;
  font-size: calc(24px + 1vmin);
}

.App-button {
  flex: 1;
}

.App-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  padding: 0 10px 10vmin 10px;
  height: calc(10px + 3vmin);
  
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 1vmin);
}


.App-footer a {
  color: white;
}

.instructions {
  margin-top: 10px;
}